html, body{
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: "Avenir next condensed", sans-serif;
  font-weight: 300;
  color:white;
}

h1, h2, h3, h4{
  font-family: "Avenir next condensed", sans-serif;
  /*display: inline-block;  */
}

h1{
  font-weight: 700;
  text-transform: uppercase;
}

h2{
  font-weight: bolder;
  font-weight: 600;
  text-transform: uppercase;
}